:root {
	--wpld-medium-gray: #e2e4e7;
	--wpld-light-gray: #f3f4f5;
	--wpld--gray: #555d66;
}

body.toplevel_page_wp-live-debug #wpcontent {
	padding-left: 0;
}

body.toplevel_page_wp-live-debug #wpfooter {
	display: none;
}

body.toplevel_page_wp-live-debug .header {
	height: 56px;
	padding: 4px 0;
	border-bottom: 1px solid var(--wpld-medium-gray);
	background: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 100vw;
	z-index: 30;
	width: 100%;
}

body.toplevel_page_wp-live-debug .header .page-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

body.toplevel_page_wp-live-debug .header .backup-restore {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 20px;
}

body.toplevel_page_wp-live-debug .header-title {
	font-size: 16px;
	padding: 0 20px;
	margin: 0;
}

body.toplevel_page_wp-live-debug .content {
	display: grid;
	grid-template-columns: 1fr 280px;
	position: absolute;
	height: calc(100vh - 97px);
	width: 100%;
}

body.toplevel_page_wp-live-debug .content .main {
	background-color: #f5f7f9;
	padding: 20px;
}

body.toplevel_page_wp-live-debug .content .main textarea {
	width: 100%;
	height: 100%;
}

body.toplevel_page_wp-live-debug .content .sidebar {
	border-left: 1px solid var(--wpld-medium-gray);
	background: #fff;
	color: var(--wpld-gray);
}

body.toplevel_page_wp-live-debug .content .sidebar .components-panel {
	margin-left: -1px;
}

body.toplevel_page_wp-live-debug .content .sidebar .components-panel:first-child {
	margin-top: -1px;
}

body.toplevel_page_wp-live-debug .content .sidebar .components-panel .components-panel__body .components-spinner {
	margin: 0;
	margin-left: 10px;
	margin-top: -1px;
}

body.toplevel_page_wp-live-debug .content .sidebar .components-panel .components-panel__body.show-spinner .components-spinner {
	display: inline-block;
}

body.toplevel_page_wp-live-debug .content .sidebar .components-panel .components-panel__body.hide-spinner .components-spinner {
	display: none;
}

@media ( max-width: 782px ) {

	body.toplevel_page_wp-live-debug .content {
		grid-template-columns: 1fr;
	}

	body.toplevel_page_wp-live-debug .content .sidebar {
		border-left: 0;
	}
}
