:root {
	--wpld-medium-gray: #e2e4e7;
	--wpld-light-gray: #f3f4f5;
	--wpld--gray: #555d66;
}

body.toplevel_page_wp-live-debug #wpcontent {
	padding-left: 0;
}

body.toplevel_page_wp-live-debug .header {
	height: 56px;
	padding: 4px 0;
	border-bottom: 1px solid var(--wpld-medium-gray);
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 100vw;
	z-index: 30;
	width: 100%;
}

body.toplevel_page_wp-live-debug .header-title {
	font-size: 16px;
	padding: 0 20px;
	margin: 0;
}

body.toplevel_page_wp-live-debug .sidebar {
	position: absolute;
	z-index: 90;
	margin-top: -1px;
	right: 0;
	width: 280px;
	border-left: 1px solid var(--wpld-medium-gray);
	background: #fff;
	color: var(--wpld-gray);
	height: calc(100vh - 97px);
	overflow: hidden;
	display: none;
}

body.toplevel_page_wp-live-debug .components-panel {
	border-left: 0;
}

body.toplevel_page_wp-live-debug .content {
	background: #F5F7F9;
	position: absolute;
	left: 0;
	height: calc(100vh - 137px);
	width: calc(100% - 40px);
	padding: 20px;
}

body.toplevel_page_wp-live-debug .content .logviewer {
	width: 100%;
	height: calc(100% - 20px);
	font-family: Consolas, Monaco, monospace;
	font-size: 12px;
}

@media (min-width: 783px ) {

	body.toplevel_page_wp-live-debug .sidebar {
		display: block;
	}

	body.toplevel_page_wp-live-debug .content {
		width: calc(100% - 320px);
	}
}
